.orders-page{

max-width:900px;

margin:auto;

padding:35px 18px;

}
.order-card{

background:#fff;

border-radius:22px;

padding:22px;

margin-bottom:22px;

box-shadow:

0 10px 30px rgba(0,0,0,.05);

transition:.35s;

cursor:pointer;

overflow:hidden;

}
.order-card:hover{

transform:translateY(-6px);

box-shadow:

0 20px 55px rgba(0,0,0,.10);

}
.order-head{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}
.order-info h3{

font-size:20px;

margin-bottom:6px;

}
.order-date{

color:#999;

font-size:13px;

}
.order-images{

display:flex;

gap:12px;

margin:25px 0;

overflow-x:auto;

}
.order-images img{

width:74px;

height:74px;

border-radius:16px;

object-fit:cover;

flex:none;

border:1px solid #eee;

}
.more-images{

width:74px;

height:74px;

border-radius:16px;

background:#f5f5f5;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;

font-size:18px;

color:#777;

flex:none;

}
.order-footer{

display:flex;

justify-content:space-between;

align-items:center;

padding-top:18px;

border-top:1px solid #eee;

}
.order-price{

font-size:22px;

font-weight:bold;

}
.order-status{

padding:9px 18px;

border-radius:100px;

font-size:13px;

font-weight:700;

}